{% load static %}
    <div class="contact-us">
        <div class="contact-us-overlay">
            <div class="contact-us-overlay-body">
                <span class="icon-skype"></span>
                <span class="icon-telegram"></span>
                <span class="icon-reddit"></span>
                <span class="icon-facebook"></span>
            </div>
        </div>
        <div class="contact-us-transparent-overlay">
            <img src="{% static 'assets/footer_overlay.png' %}" alt="">
        </div>
        <div class="container">
            <div class="bottom-menus">
                <div class="bottom-brand">
                    <a href=""><img alt="deep excavation logo in reddish color" src="{% static 'assets/brand_accent.png' %}"></a>
                    <a class="text-normal text-white" href="#">deepexcavation.com</a>
                </div>
                <ul>
                    <li>Software</li>
                    <li>RCsolver</li>
                    <li>HelixPile</li>
                    <li>Comidor</li>
                    <li>Snail Plus Soil Nailing</li>
                    <li>Terms Of Use</li>
                    <li>DeepEX 2019 - Deep</li>
                </ul>
                <ul>
                    <li>Equipment</li>
                    <li>Slurry Wall Equipment</li>
                    <li>Pile drill rigs</li>
                </ul>
                <ul>
                    <li>Resources</li>
                    <li>Deep Excavation Library</li>
                    <li>Publications</li>
                    <li>Links</li>
                </ul>
                <ul>
                    <li>Support</li>
                    <li>About Us</li>
                    <li>People</li>
                    <li>CEO Message</li>
                </ul>
            </div>

        </div>
    </div>