  {% load static %}

            <div class="side-content">

                <div class="side-box">
                    <h2>Subpage Menu</h2>

                    <ul>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                    </ul>
                </div>
                <div class="side-box">
                    <h2>Subpage Menu</h2>

                    <ul>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                    </ul>
                </div>
                <div class="download-box">
                    <h2>Software downloads</h2>
                    <ul>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                    </ul>
                    <button style="padding-left: 50px; padding-right: 50px;">

                        <span>Download</span>

                    </button>
                </div>
                <div class="download-box">
                    <h2>Software downloads</h2>
                    <ul>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                    </ul>
                    <button style="padding-left: 50px; padding-right: 50px;">
                        <span>Download</span>
                    </button>
                </div>
                <div class="help-box">
                    <h2>How can we help you?</h2>
                    <ul>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                        <li><a href="/">content goes here</a></li>
                    </ul>
                </div>


            </div>