{% load static %}

<div class="details-section">
            <div class="find-more">
                <div class="booking">
                    <h1>Wish to find out more about topic? <br> Book a free 30 web presentation!</h1>
                    <button>Learn more</button>
                </div>

                <div class="find-more-image-section">
                    <img src="{% static 'assets/lappy_2.png' %}" alt="IMAGE PLACEHOLDER">
                </div>
            </div>

            <div class="signup-form">
                <form class="signup-form-body">
                    <label for="email-field">Sign Up</label>
                    <input id="email-field" type="text" placeholder="Enter your email to subscribe.">
                    <button class="signup-btn" type="submit">Sign up</button>
                </form>
            </div>
    </div>
